<launch>
    <!-- 
        Map file names
            1. empty_map
            2. map_with_single_cube
            3. map_with_many_homotopy_classes
            4. map_with_single_narrow_passage_gap 
    -->
    <arg name="map_name" default="empty_map"/>

    <arg name="nodelet_manager" default="ompl_2d_rviz_visualizer_nodelet_manager"/>

    <!-- rviz configuration path -->
    <arg name="rvizconfig" default="$(find ompl_2d_rviz_visualizer_ros)/config/rviz/visualizer.rviz"/> 

    <!-- map file path -->
    <arg name="map_file_path" default="$(find ompl_2d_rviz_visualizer_ros)/map/$(arg map_name)/$(arg map_name).yaml"/>

    <!-- rivz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="ompl_2d_rviz_visualizer_nodelet" args="load ompl_2d_rviz_visualizer_ros/VisualizerNodelet $(arg nodelet_manager)">
        <param name="map_file_path" value="$(arg map_file_path)"/>
        <rosparam file="$(find ompl_2d_rviz_visualizer_ros)/config/planner_params.yaml" command="load"/>
    </node>

</launch> 
